@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

body
{
    font-family: 'Libre Baskerville', serif;
}

header
{
    display: flex;
    align-items: center;
}

header > img + h1
{
    padding-left: 0.5em;
}
