@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

body
{
    font-family: 'Libre Baskerville', serif;
}

header > a
{
    display: flex;
    align-items: center;
}

header img + h1
{
    padding-left: 0.5em;
}

header > a
{
    text-decoration: none;
}

header > a, header > a:hover, header > a:visited
{
    color: black;
}

header > a:hover
{
    text-decoration: underline;
}

/* Set max width.  The exception is code blocks, where newlines are
   significant.  */
article h1, article h2, article h3, article p
{
    max-width: 37em;
}

footer
{
    margin-top: 3.0em;
    font-size: smaller;
    max-width: 45em;
}

.codeblock
{
    display: block;
    white-space: pre-wrap;
}
